.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-300);
  position: relative;
  z-index: var(--z-50);
  background-color: var(--color-secondary-invert);
  gap: var(--spacing-300);
}

.logo {
  height: 24px;
  width: auto;
}
