.container {
  display: flex;
  justify-content: center;
  padding: var(--rs-unit-x8) var(--rs-unit-x4);
  min-height: 100vh;
  background-color: var(--rs-color-background-neutral-faded);
}

@media (max-width: 768px) {
  .container {
    padding: var(--rs-unit-x6) var(--rs-unit-x4);
  }
}
