.orbContainer {
  position: absolute;
  z-index: 0;
  width: 920;
  height: 920;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  mix-blend-mode: lighten;
  cursor: pointer;
}
