.header {
  padding: var(--spacing-300) 0;
  position: relative;
  z-index: var(--z-50);
  background-color: var(--color-secondary);

  @media (min-width: 768px) {
    padding: var(--spacing-300) 0;
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--spacing-300);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0 var(--spacing-500);
  }
  @media (min-width: 1024px) {
    padding: 0 var(--spacing-600);
  }
}

.secondary {
  display: flex;
  min-width: 400px;
  padding-right: var(--spacing-800);
  align-items: center;
  gap: var(--spacing-300);
}
