.textType {
  display: inline-block;
  white-space: pre-wrap;
}

.textTypeCursor {
  margin-left: var(--spacing-50);
  display: inline-block;
  opacity: 1;
}

.textTypeCursorHidden {
  display: none;
}
